@import 'tailwindcss';

body {
  background-color: #ffffff;
  /* Soft, modern mesh gradient */
  background-image:
    radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(244, 63, 94, 0.05) 0px, transparent 50%);
  @apply text-slate-900 antialiased min-h-screen;
}
